<a href="https://colab.research.google.com/github/Marchosh/NFL-Prediction-2022/blob/main/Model/NFL_accuracy_eachyear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [254]:
import pandas as pd
df_19 = pd.read_csv('https://raw.githubusercontent.com/Marchosh/NFL-Prediction-2022/main/Data/2019_NFL_COMBINE_REFORMATED.csv')
df_20 = pd.read_csv('https://raw.githubusercontent.com/Marchosh/NFL-Prediction-2022/main/Data/2020_NFL_COMBINE_REFORMATED.csv')
df_21 = pd.read_csv('https://raw.githubusercontent.com/Marchosh/NFL-Prediction-2022/main/Data/2021_NFL_COMBINE_REFORMATED.csv')
df_22 = pd.read_csv('https://raw.githubusercontent.com/Marchosh/NFL-Prediction-2022/main/Data/2022_NFL_COMBINE_REFORMATED.csv')

In [255]:
#df.to_csv('2019_NFL_COMBINE_REFORMATED.csv')

In [256]:
df_19.dropna(subset = ['Unnamed: 5', 'Date'], inplace=True)
df_20.dropna(subset = ['Unnamed: 5', 'Date'], inplace=True)
df_21.dropna(subset = ['Unnamed: 5', 'Date'], inplace=True)
df_22.dropna(subset = ['Unnamed: 5', 'Date'], inplace=True)

In [257]:
df_19.drop(['Unnamed: 0','Week','Day'], axis =1 ,inplace=True)
df_20.drop(['Unnamed: 0','Week','Day'], axis =1 ,inplace=True)
df_21.drop(['Unnamed: 0','Week','Day'], axis =1 ,inplace=True)
df_22.drop(['Unnamed: 0','Week','Day'], axis =1 ,inplace=True)

In [258]:
df_19['Date'] = pd.to_datetime(df_19['Date'])
df_20['Date'] = pd.to_datetime(df_20['Date'])
df_21['Date'] = pd.to_datetime(df_21['Date'])
df_22['Date'] = pd.to_datetime(df_22['Date'])

In [259]:
#Sort and reset index
df_19 = df_19.sort_values(by='Date',ascending=True)
df_19.reset_index(inplace=True)

df_20 = df_20.sort_values(by='Date',ascending=True)
df_20.reset_index(inplace=True)

df_21 = df_21.sort_values(by='Date',ascending=True)
df_21.reset_index(inplace=True)

df_22 = df_22.sort_values(by='Date',ascending=True)
df_22.reset_index(inplace=True)

In [260]:
#drop unecessary column
df_19.drop(['index', 'Unnamed: 0.1'], axis =1, inplace=True)
df_20.drop(['index', 'Unnamed: 0.1'], axis =1, inplace=True)
df_21.drop(['index', 'Unnamed: 0.1'], axis =1, inplace=True)
df_22.drop(['index', 'Unnamed: 0.1'], axis =1, inplace=True)

In [261]:
#save the file
df_19.to_csv('NFL2019_BeforePred.csv')
df_20.to_csv('NFL2019_BeforePred.csv')
df_21.to_csv('NFL2019_BeforePred.csv')
df_22.to_csv('NFL2019_BeforePred.csv')

#Preprocess Data

In [262]:
df_19.drop(['Date', 'Tm',	'Opp.1'], axis =1, inplace=True)
df_20.drop(['Date', 'Tm',	'Opp.1'], axis =1, inplace=True)
df_21.drop(['Date', 'Tm',	'Opp.1'], axis =1, inplace=True)
df_22.drop(['Date', 'Tm',	'Opp.1'], axis =1, inplace=True)

In [263]:
#fill null with 0
df_19['TO'] = df_19['TO'].fillna(0)
df_19['TO.1'] = df_19['TO.1'].fillna(0)
df_19 = pd.DataFrame(df_19, columns=df_19.columns)

df_20['TO'] = df_20['TO'].fillna(0)
df_20['TO.1'] = df_20['TO.1'].fillna(0)
df_20 = pd.DataFrame(df_20, columns=df_20.columns)

df_21['TO'] = df_21['TO'].fillna(0)
df_21['TO.1'] = df_21['TO.1'].fillna(0)
df_21 = pd.DataFrame(df_21, columns=df_21.columns)

df_22['TO'] = df_22['TO'].fillna(0)
df_22['TO.1'] = df_22['TO.1'].fillna(0)
df_22 = pd.DataFrame(df_22, columns=df_22.columns)

In [264]:
#save the winning result
df_19_winner = df_19['Unnamed: 5']
df_20_winner = df_20['Unnamed: 5']
df_21_winner = df_21['Unnamed: 5']
df_22_winner = df_22['Unnamed: 5']

In [265]:
df_19.drop(['Unnamed: 5'], axis =1, inplace=True)
df_20.drop(['Unnamed: 5'], axis =1, inplace=True)
df_21.drop(['Unnamed: 5'], axis =1, inplace=True)
df_22.drop(['Unnamed: 5'], axis =1, inplace=True)

In [266]:
#All team name
away = {
    'Opp': ['Tampa Bay Buccaneers', 'Cincinnati Bengals',
       'Pittsburgh Steelers', 'Los Angeles Rams', 'Washington Redskins',
       'Carolina Panthers', 'Seattle Seahawks', 'Arizona Cardinals',
       'Baltimore Ravens', 'New Orleans Saints', 'Atlanta Falcons',
       'Minnesota Vikings', 'Kansas City Chiefs', 'Oakland Raiders',
       'Los Angeles Chargers', 'New York Giants', 'Detroit Lions',
       'San Francisco 49ers', 'Buffalo Bills', 'Cleveland Browns',
       'Miami Dolphins', 'Tennessee Titans', 'Houston Texans',
       'New York Jets', 'Jacksonville Jaguars', 'Indianapolis Colts',
       'New England Patriots', 'Philadelphia Eagles', 'Denver Broncos',
       'Chicago Bears', 'Dallas Cowboys', 'Green Bay Packers',
       'Washington Football Team', 'Las Vegas Raiders',
       'Washington Commanders']}
home = {
       'Home_team': ['San Francisco 49ers', 'Chicago Bears', 'Cincinnati Bengals',
       'Denver Broncos', 'Cleveland Browns', 'Tampa Bay Buccaneers',
       'Buffalo Bills', 'Arizona Cardinals', 'Los Angeles Chargers',
       'Kansas City Chiefs', 'Indianapolis Colts', 'Dallas Cowboys',
       'Miami Dolphins', 'Philadelphia Eagles', 'Atlanta Falcons',
       'New York Giants', 'Jacksonville Jaguars', 'New York Jets',
       'Detroit Lions', 'Green Bay Packers', 'Carolina Panthers',
       'New England Patriots', 'Oakland Raiders', 'Los Angeles Rams',
       'Baltimore Ravens', 'New Orleans Saints', 'Seattle Seahawks',
       'Pittsburgh Steelers', 'Houston Texans', 'Tennessee Titans',
       'Minnesota Vikings']
}
away_t = pd.DataFrame(data=away)
home_t = pd.DataFrame(data=home)
df_teamname = pd.concat([away_t, home_t], axis=1)
#df_teamname

In [267]:
print(df_19.shape, df_20.shape, df_21.shape, df_22.shape)

(518, 15) (521, 15) (553, 15) (158, 15)

In [268]:
#Combine 2 dataframe
df2_19 = pd.concat([df_19, df_teamname])

df2_20 = pd.concat([df_20, df_teamname])

df2_21 = pd.concat([df_21, df_teamname])

df2_22 = pd.concat([df_22, df_teamname])

In [269]:
#COnver to dummy
df2_19 = pd.get_dummies(df2_19, columns=['Opp','Home_team'])
df2_20 = pd.get_dummies(df2_20, columns=['Opp','Home_team'])
df2_21 = pd.get_dummies(df2_21, columns=['Opp','Home_team'])
df2_22 = pd.get_dummies(df2_22, columns=['Opp','Home_team'])

In [270]:
print(df2_19.shape, df2_20.shape, df2_21.shape, df2_22.shape)

(553, 79) (556, 79) (588, 79) (193, 79)

In [271]:
#drop the added column
df2_19.reset_index(inplace=True, drop=True)
df2_19.drop(df2_19.index[518:553], axis=0, inplace=True)
#df2.shape

df2_20.reset_index(inplace=True, drop=True)
df2_20.drop(df2_20.index[521:556], axis=0, inplace=True)

df2_21.reset_index(inplace=True, drop=True)
df2_21.drop(df2_21.index[553:588], axis=0, inplace=True)

df2_22.reset_index(inplace=True, drop=True)
df2_22.drop(df2_22.index[158:193], axis=0, inplace=True)

In [272]:
#df2

In [273]:
#Robust Scaller
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
df_scaled_19 = scaler.fit_transform(df2_19)
df_scaled_20 = scaler.fit_transform(df2_20)
df_scaled_21 = scaler.fit_transform(df2_21)
df_scaled_22 = scaler.fit_transform(df2_22)

In [274]:
df_scaled = pd.DataFrame(df_scaled, columns=df2.columns)
df_scaled.describe()

,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,...,Home_team_New Orleans Saints,Home_team_New York Giants,Home_team_New York Jets,Home_team_Oakland Raiders,Home_team_Philadelphia Eagles,Home_team_Pittsburgh Steelers,Home_team_San Francisco 49ers,Home_team_Seattle Seahawks,Home_team_Tampa Bay Buccaneers,Home_team_Tennessee Titans
count,2037.000000,2037.000000,2037.000000,2037.000000,2037.000000,2037.000000,2037.000000,2037.000000,2037.000000,2037.000000,...,2072.000000,2072.000000,2072.000000,2072.000000,2072.000000,2072.000000,2072.000000,2072.000000,2072.000000,2072.000000
mean,-0.083105,0.018831,0.011623,0.119928,0.186058,0.032330,0.000337,0.002027,0.113345,0.185322,...,0.032819,0.030405,0.031371,0.030888,0.033301,0.031371,0.037162,0.034266,0.030888,0.036197
std,0.697499,0.682980,0.726673,0.778392,0.628203,0.713111,0.705697,0.731584,0.765934,0.633771,...,0.178204,0.171742,0.174359,0.173056,0.179465,0.174359,0.189205,0.181957,0.173056,0.186825
min,-2.142857,-1.898438,-1.731481,-1.308824,-0.500000,-2.000000,-1.951613,-1.706422,-1.275362,-0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.571429,-0.500000,-0.527778,-0.426471,-0.500000,-0.428571,-0.524194,-0.541284,-0.434783,-0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.428571,0.500000,0.472222,0.573529,0.500000,0.571429,0.475806,0.458716,0.565217,0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.142857,2.304688,2.361111,2.632353,3.000000,2.285714,2.387097,2.348624,2.608696,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#Load model

In [275]:
from tensorflow.keras.datasets import mnist
from tensorflow.keras.layers import Dense, Flatten, Conv2D
from tensorflow.keras.losses import sparse_categorical_crossentropy
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Sequential, save_model, load_model

# Recreate the exact same model, including its weights and the optimizer
model = load_model('NFLmodel.h5')

# Show the model architecture
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 79)                6320

 activation (Activation)     (None, 79)                0

 dense_1 (Dense)             (None, 100)               8000

 activation_1 (Activation)   (None, 100)               0

 dropout (Dropout)           (None, 100)               0

 dense_2 (Dense)             (None, 80)                8080

 activation_2 (Activation)   (None, 80)                0

 dropout_1 (Dropout)         (None, 80)                0

 dense_3 (Dense)             (None, 1)                 81

=================================================================
Total params: 22,481
Trainable params: 22,481
Non-trainable params: 0
_________________________________________________________________

#Test

In [276]:

df_19['prediction'] = model.predict(df_scaled_19)
df_20['prediction'] = model.predict(df_scaled_20)
df_21['prediction'] = model.predict(df_scaled_21)
df_22['prediction'] = model.predict(df_scaled_22)

17/17 [==============================] - 0s 1ms/step
17/17 [==============================] - 0s 1ms/step
18/18 [==============================] - 0s 1ms/step
5/5 [==============================] - 0s 3ms/step

In [277]:
df_scaled_19.shape

(518, 79)

In [278]:
#df_evaluation.to_csv('NFL2019_prediction.csv')

In [279]:
df_19.head(5)

,Opp,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms,Home_team,prediction
0,Houston Texans,24.0,425.0,253.0,172.0,1.0,19.0,360.0,219.0,141.0,1.0,-1.04,-2.61,1.38,Buffalo Bills,17.532558
1,New England Patriots,19.0,272.0,71.0,201.0,1.0,18.0,307.0,209.0,98.0,2.0,2.83,0.84,0.20,Tennessee Titans,21.577148
2,Buffalo Bills,19.0,360.0,219.0,141.0,1.0,24.0,425.0,253.0,172.0,1.0,2.61,1.04,-1.38,Houston Texans,19.112190
3,Tennessee Titans,18.0,307.0,209.0,98.0,2.0,19.0,272.0,71.0,201.0,1.0,-0.84,-2.83,-0.20,New England Patriots,16.528255
4,Seattle Seahawks,20.0,282.0,162.0,120.0,0.0,16.0,382.0,318.0,64.0,0.0,-1.96,-10.59,3.79,Philadelphia Eagles,17.032543

In [280]:
df_19['Away_score'] = 0
df_20['Away_score'] = 0
df_21['Away_score'] = 0
df_22['Away_score'] = 0

In [281]:
#assigning the away score
  #df.iloc[i][0] = opp
  #df.iloc[i][14] = Home_team
#df_evaluation['opp_score']

#2019
for i in range(len(df_19)):
  home = df_19.iloc[i][14]
  away = df_19.iloc[i][0]
  score = df_19.iloc[i][15]
  for x in range(len(df_19)):
    home_2 = df_19.iloc[x][14]
    away_2 = df_19.iloc[x][0]
    if home_2 == away and away_2 == home:
      df_19['Away_score'][x] = score

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [282]:
#2020
for i in range(len(df_20)):
  home = df_20.iloc[i][14]
  away = df_20.iloc[i][0]
  score = df_20.iloc[i][15]
  for x in range(len(df_20)):
    home_2 = df_20.iloc[x][14]
    away_2 = df_20.iloc[x][0]
    if home_2 == away and away_2 == home:
      df_20['Away_score'][x] = score

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [283]:
#2021
for i in range(len(df_21)):
  home = df_21.iloc[i][14]
  away = df_21.iloc[i][0]
  score = df_21.iloc[i][15]
  for x in range(len(df_21)):
    home_2 = df_21.iloc[x][14]
    away_2 = df_21.iloc[x][0]
    if home_2 == away and away_2 == home:
      df_21['Away_score'][x] = score

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [284]:
#2022
for i in range(len(df_22)):
  home = df_22.iloc[i][14]
  away = df_22.iloc[i][0]
  score = df_22.iloc[i][15]
  for x in range(len(df_22)):
    home_2 = df_22.iloc[x][14]
    away_2 = df_22.iloc[x][0]
    if home_2 == away and away_2 == home:
      df_22['Away_score'][x] = score

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [285]:
#combine the result with the actaul winning
df_19['Actual_winner'] = df_19_winner
df_20['Actual_winner'] = df_20_winner
df_21['Actual_winner'] = df_21_winner
df_22['Actual_winner'] = df_22_winner

In [288]:
#stating pred_winner
df_19['Pred_winner'] = ''
df_20['Pred_winner'] = ''
df_21['Pred_winner'] = ''
df_22['Pred_winner'] = ''

In [289]:
#function to diciede the winenr
def pred_win(df):
  result = ''
  for i in range(len(df)):
    if df['prediction'][i] > df['Away_score'][i]:
      result = 'W'
      df['Pred_winner'][i] = result
    else:
      result = 'L'
      df['Pred_winner'][i] = result

  return df

In [291]:
new_19 = pred_win(df_19)
new_20 = pred_win(df_20)
new_21 = pred_win(df_21)
new_22 = pred_win(df_22)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
# #2019
# for i in range(len(df_19)):
#   df_19['Pred_winner'][i] = pred_win(df_19)

# #2020
# for i in range(len(df_20)):
#   df_20['Pred_winner'][i] = pred_win(df_20)

# #2021
# for i in range(len(df_21)):
#   df_21['Pred_winner'][i] = pred_win(df_21)

# #2022
# for i in range(len(df_22)):
#   df_22['Pred_winner'][i] = pred_win(df_22)

In [292]:
def accuracy(df):
  correct = 0
  for i in range(len(df)):
    if df['Pred_winner'][i] == df['Actual_winner'][i]:
      correct += 1
  accuracy = correct / len(df)
  return accuracy

In [298]:
#2019
a_19 = accuracy(new_19)
a_19

0.9266409266409267

In [299]:
#2020
a_20 = accuracy(new_20)
a_20

0.8694817658349329

In [300]:
#2021
a_21 = accuracy(new_21)
a_21

0.8698010849909584

In [301]:
#2022
a_22 = accuracy(new_22)
a_22

0.8734177215189873

In [303]:
total_acc = (a_19 + a_20 + a_21 + a_22) / 4
total_acc

0.8848353747464512